.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell_black {
  background-color: rgb(70, 24, 126);
}

.cell_white {
  background-color: rgb(241, 220, 185);
}

.cell__figure {
  width: 48px;
  height: 48px;
  position: relative;
}