.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell_black {
  background-color: #4592AF;
}

.cell_white {
  background-color: #BAE8E8
}

.cell_selected {
  background-color: #2185D5;
}

.cell_available {
  background-color: #388186;
}

.cell__figure {
  width: 48px;
  height: 48px;
  position: relative;
}

.cell__available-cell {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #388186;
}