.coordinates {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.coordinate {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.coordinates_x-top {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.coordinates_x-bottom {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.coordinates_y-left {
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.coordinates_y-right {
  flex-direction: column;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}