.game-state {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
  max-width: 350px;
  width: 100%;
}

.victory-message {
  margin: 0;
  padding: 0;
  font-size: 30px;
  display: none;
}

.victory-message_visible {
  display: block;
}

.victory-message_winner {
  font-weight: bold;
  font-size: 32px;
}

.current-player {
  margin: 0;
  font-size: 30px;
}

.current-player__player {
  font-weight: bold;
}

.current-player_hidden {
  display: none;
}

.block-lost-figures {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  row-gap: 15px;
}